<div class="container_big-card">

    <div class="big-card__photo">
        <img src="assets/palceholder.png" alt="" height="700px" width="1000px">
    </div>
    <div class="container-text">
        <div class="big-card_title">
            <h1><a href="#">Teste de titulo</a></h1>
        </div>
        <div class="big-card_description">
            <p><a href="#">manodnsoajdoajkso jk jasodj iasj idan dsIFDSFID
                JSIFNIDNISFFNSIDNFISNIFNSIFNISNIFNISNFINSIDNFISNDIFN
                ISNDFINai n ian idnaisnd iansd
                doakewoooooodaoskdoakosdkoaksdoaksodoaksdoakdsokaodkn</a></p>
        </div>
    </div>
</div>