.container_small-card{
    border: 1px solid;
    border-color: black;
    width: 500px;
    margin-top: 20px;
    
}
.small-card-photo > img{
    width: 100%;
    min-width: 399.9px;
}
.small-card-title{
    max-width: 380px;
    display: flex;
    word-wrap: break-word;
    overflow: hidden; /* Oculta o excesso de texto */
    text-overflow: ellipsis; /* Adiciona "..." quando o texto for cortado */
    white-space: normal; /* Permite a quebra de linha */



}
a{
    padding-left: 5px;
    font-size: 30;
    text-decoration: none;
    color: black;
}