<app-menu-title></app-menu-title>
<div class="container_articles">
    <div class="articles_main">
        <app-big-card
        [Id]=articles[0].id
        [cardTitle]=articles[0].title
        [cardDescription]=articles[0].description
        [photoCover]="articles[0].photo">
        ></app-big-card>
    </div>
    <div class="articles_others">
        <div *ngFor="let article of articles.slice(1)">

            <app-small-card
            [Id]=article.id
            [cardTitle]=article.title
            [photoCover]="article.photo">
        </app-small-card>
    </div>
</div>