    li{
        list-style-type: none;

    }
    a{
        text-decoration: none;
        color: black;
    }

    .container_menu-bar > ul {
        display: flex;
        flex-direction: row;
        margin-right: 20px;
    }
    .container_menu-bar > ul > li{

        margin-right: 20px;
    }
    .container_menu-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

    }


    .img_container a > img{
        border-radius:360px;
        height: 80px;
        margin-left: 30px;
    }